<footer class="bg-main-light py-5 w-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="m-0 h4">Get The FreshCart App</h2>
      </div>
      <div class="col-12">
        <p class="text-muted small">
          We Will Send You a Link, Open it on Your Phone to download the app
        </p>
      </div>
      <div class="col-12 col-sm-7 col-lg-9">
        <input type="text" class="form-control" placeholder="Email" />
      </div>
      <div class="col-12 col-sm-5 col-lg-3 my-3 my-md-0">
        <button class="btn-main w-100">Share App Link</button>
      </div>
    </div>

    <hr />

    <!-- footer payment Details Design  -->
    <div
      class="pay-details d-flex justify-content-center align-items-center flex-wrap justify-content-md-between"
    >
      <div class="d-flex align-items-center flex-wrap flex-column flex-sm-row">
        <h3 class="h5 m-0 me-3">Payment partners</h3>
       <div class="">
        <img src="./assets/imgs/fawry-Logo.webp" class="icon-pay"  alt="" />
        <img src="./assets/imgs/voda-cash.png"    class="icon-pay"  alt="" />
        <img src="./assets/imgs/Payment logos-15.webp"  class="icon-pay" alt="" />
        <img src="./assets/imgs/orange cash .png"  class="icon-pay"   alt="" />
       </div>
      </div>

      <div class="d-flex align-items-center flex-wrap flex-column flex-sm-row">
        <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
      <div class="">
        <img src="./assets/imgs/apple.png" class="icon-store" alt="" />
        <img src="./assets/imgs/google.png" class="icon-store"  alt="" />
      </div>
      </div>
    </div>
  </div>
</footer>
