<section>
    <div class="container-fluid container-md">
    <p class="text-main user-select-none text-center display-5 my-4 fw-light main-logo-text ">Forgot your password?</p>
    <form [formGroup]="forgetPassword" class="w-50 mx-auto" (ngSubmit)="supmitData()">
        <input type="text" formControlName="email" class="form-control py-2  mx-auto" placeholder="enter your email" [ngClass]="{
            ' is-valid':!forgetPassword.get('email')?.errors && (forgetPassword.get('email')?.touched || forgetPassword.get('email')?.dirty),
            'is-invalid':forgetPassword.get('email')?.errors && (forgetPassword.get('email')?.touched || forgetPassword.get('email')?.dirty)
        }">
        <button class=" btn-main d-block mx-auto my-4 w-100">Next</button>
    </form>
</div>
    
</section>
    
