<section>
    <div class="container-fluid container-md">
    <p class="text-main user-select-none text-center display-5 mt-4 mb-2 fw-light main-logo-text "><i class="fa-regular fa-envelope"></i></p>
<p class="text-main user-select-none text-center display-5 mt-1 mb-4 fw-light main-logo-text ">Check your email</p>
    
<div class="container text-center">

        <div class="verification-input">
          @for(input of inputs ; track $index)
          {
            <input type="text" maxlength="1" class="form-control"
            [(ngModel)]="inputs[$index]" (input)="onInput($index, $event)" (keydown)="onKeyDown($index, $event)">
          }
        </div>
</div>
    </div>
    
</section>