<section>
    <div class="container-fluid container-md">
        <p class="text-main user-select-none text-center display-5 mt-4 mb-2 fw-light main-logo-text "><i class="fa-solid fa-key"></i></p>
    <p class="text-main user-select-none text-center display-5 mt-1 mb-4 fw-light main-logo-text ">Reset Password</p>
    <div class="container">
      
        <form class="reset-password-form mx-auto mt-4" [formGroup]="resetForm" (ngSubmit)="supmitData()">
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control py-2" id="password" placeholder="enter password" formControlName="password" [ngClass]="{
                    ' is-valid':!resetForm.get('password')?.errors && (resetForm.get('password')?.touched || resetForm.get('password')?.dirty),
                    'is-invalid':resetForm.get('password')?.errors && (resetForm.get('password')?.touched || resetForm.get('password')?.dirty)
                }">
                @if (resetForm.get('password')?.errors && resetForm.get('password')?.touched) {
                    <div class="alert alert-warning my-2 p-2 f5-6 fw-bold rounded rounded-3">
        
                        @if (resetForm.get('password')?.getError('required')) {
                            <p class="m-0">password is require</p>
                        }
                        @else if (resetForm.get('password')?.getError('pattern')) {
                            <p class="m-0">password must be at least 6</p>
                            
                        }
                    </div>
                }            </div>
            <div class="mb-3">
                <label class="mb-1" for="rePassword">rePassword:</label>
                <input type="password" class="form-control py-2 " placeholder="enter rePassword" id="rePassword" formControlName="rePassword"
                [ngClass]="{
                    ' is-valid':!resetForm.getError('missMatch') && (resetForm.get('rePassword')?.touched || resetForm.get('rePassword')?.dirty),
                    'is-invalid':resetForm.getError('missMatch') && (resetForm.get('rePassword')?.touched || resetForm.get('rePassword')?.dirty)
                }">
                @if (resetForm.getError('missMatch') && resetForm.get('rePassword')?.touched) {
                    <div class="alert alert-warning my-2 p-2 f5-6 fw-bold rounded rounded-3">
        
                            <p class="m-0">Confirm password is not correct</p>
                        
                    </div>
                }
            </div>
            <button type="submit" class="btn btn-primary w-100">Reset Password  @if (loding) {
                <i class="fa-solid fa-spinner fa-spin"></i>
            }</button>
        </form>



        
    </div>
    </div>
</section> 
