<nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
    <div class="container">
      <div class="me-2"><i class="fa-brands fa-opencart text-main fa-2x"></i> <span class="  fs-3 user-select-none fa-angellist d-inline-block mx-1 main-logo-text">FreshCart</span> </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
      
        <ul class="navbar-nav ms-auto">
          <li class="nav-item cursor-pointer ">
            <a class="nav-link facebook" aria-current="page" ><i class="fa-brands fa-facebook fs-4"></i></a>
          </li>
          <li class="nav-item cursor-pointer ">
            <a class="nav-link twitter" aria-current="page" ><i class="fa-brands fa-twitter fs-4"></i></a>
          </li>
          <li class="nav-item cursor-pointer ">
            <a class="nav-link linkedin" aria-current="page" ><i class="fa-brands fa-linkedin fs-4"></i></a>
          </li>
          <li class="nav-item cursor-pointer ">
            <a class="nav-link instagram" aria-current="page" ><i class="fa-brands fa-instagram fs-4"></i></a>
          </li>
          <li class="nav-item cursor-pointer ">
            <a class="nav-link youtube" aria-current="page" ><i class="fa-brands fa-youtube fs-4"></i></a>
          </li>
          <li class="nav-item cursor-pointer">
            <a class="nav-link  nav-style" routerLink="login" routerLinkActive="active-link" >log in</a>
          </li>
       
          <li class="nav-item cursor-pointer">
            <a class="nav-link  nav-style" routerLink="register" routerLinkActive="active-link" >register</a>
          </li>
       
  
        </ul>
      </div>
    </div>
  </nav>
